<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="preload" href="/assets/fonts/AtkinsonHyperlegibleNext-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include "header.njk" %}

    <main id="content">
      {{ content | safe }}
    </main>

    <footer>
      <small>Generated with Eleventy</small>
    </footer>
  </body>
</html>
